<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row">
        <div class="col col-sm-3 abbr">
          {%- if content.badge -%}
            {% if content.badge contains '://' -%}
              <img src="{{ content.badge }}" class="preview z-depth-1 rounded medium-zoom-image" width="100%" height="auto"  alt="badge_image_not_found" data-zoomable="" loading="eager" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
            {%- else -%}
              <img src="{{ content.badge | prepend: '/assets/img/badge/' | relative_url }}" class="preview z-depth-1 rounded medium-zoom-image" width="100%" height="auto"  alt="badge_image_not_found" data-zoomable="" loading="eager" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
            {%- endif -%}
          {%- endif -%}
        </div>
        <div class="col-sm-8">
          {% if content.title %}
          <h6 class="title font-weight-bold ml-1 ml-md-4">{{ content.title }}</h6>
          {% endif %}
          {% if content.department or content.institution %}
          <table class="table-cv ml-1 ml-md-4 institution">
          <tbody>
            {% if content.institution %}
            <tr>
              <td style="vertical-align: top; text-align: center" class="institution">
                <i class="fa-solid fa-building-columns iconinstitution">&nbsp;</i>
              </td>
              <td class="institution">{{ content.institution }}</td>
            </tr>
            {% endif %}
            {% if content.department %}
            <tr>
              <td style="vertical-align: top; text-align: center" class="department">
                <i class="fa-regular fa-circle-dot icondepartment">&nbsp;</i>
              </td>
              <td class="department">{{ content.department }}</td>
            </tr>
            {% endif %}
          </tbody>
          </table>
          {% endif %}
          {% if content.year%}
          <table class="table-cv ml-1 ml-md-4 institution">
          <tbody>
            <tr>
              <td style="vertical-align: top; text-align: center" class="institution"><i class="far fa-calendar-alt">&nbsp;</i></td>
              <td class="institution">{{content.year}}</td>
            </tr>
          </tbody>
          </table>
          {% endif %}
          {% if content.maindescription%}
          <table class="table-cv ml-1 ml-md-4 institution">
          <tbody>
            <tr>
              <td style="vertical-align: top; text-align: center" class="institution"><i class="far fa-compass">&nbsp;</i></td>
              <td class="institution">{{ content.maindescription }}</td>
            </tr>
          </tbody>
          </table>
          {% endif %}
          {% if content.description %}
            <ul class="items">
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                    {% for subitem in item.contents %}
                      <li>
                        <span class="subitem">{{ subitem }}</span>
                      </li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.items %}
            <ul class="items">
              {% for item in content.items %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.linkitems %}
            <div class="container-links ml-1 ml-md-4">
            {% for item in content.linkitems %}
                {% if item.link %}
                  <div class="container-link-button">
                    {% if item.linkname %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.linkname}}</a>
                    {% else %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                    {% endif %}
                  </div>
                {% endif %}
            {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>